<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Natural language processing -Vikas</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/vendor/bootstrap/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Natural Language Processing</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#world">
              NLP in today's world</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#work">
              How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#method">
              Methods</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-secondary text-white">
    <div class="container text-center">
      <h2>Welcome to NLP by Vikas</h2>
      <p class="lead">What it is and why it matters</p>
    </div>
  </header>

  <section id="about" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>What is Natural Language Processing?</h2>
          <p class="lead">Natural language processing (NLP) is a branch of artificial intelligence that helps computers
            understand, interpret and manipulate human language. NLP draws from many disciplines, including computer
            science and computational linguistics, in its pursuit to fill the gap between human communication and
            computer understanding.
          </p>
          <p> <strong>Take a look at the applications I built using NLP:</strong></p>
          <ul>
            <li> <a href="/spam" target="_blank"> <em>SMS spam detector</em> </a> </li>
            <li> <a href="/resturant" target="_blank"> <em>Resturant review sentiment analyses</em> </a> </li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <section id="history" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Evolution of natural language processing</h2>
          <p class="lead">While natural language processing isn’t a new science, the technology is rapidly advancing
            thanks to an increased interest in human-to-machine communications, plus an availability of big data,
            powerful computing and enhanced
            algorithms. </p>

          <p>As a human, you may speak and write in English, Spanish or Chinese. But a computer’s native language –
            known as machine code or machine language – is largely incomprehensible to most people. At your device’s
            lowest levels, communication occurs not with words but through millions of zeros and ones that produce
            logical actions. </p>

          <p>Indeed, programmers used punch cards to communicate with the first computers 70 years ago. This manual and
            arduous process was understood by a relatively small number of people. Now you can say, “Alexa, I like this
            song,” and a device playing music in your home will lower the volume and reply, “OK. Rating saved,” in a
            humanlike voice. Then it adapts its algorithm to play that song – and others like it – the next time you
            listen to that music station. </p>


          <p>Let’s take a closer look at that interaction. Your device activated when it heard you speak, understood the
            unspoken intent in the comment, executed an action and provided feedback in a well-formed English sentence,
            all in the space of about five seconds. The complete interaction was made possible by NLP, along with other
            AI elements such as <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank">machine
              learning</a> and <a href="https://en.wikipedia.org/wiki/Deep_learning" target="_blank">deep learning.</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="world">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>NLP in today’s world</h2>
          <h5>Learn more about natural language processing in many industries</h5>
          <br>
          <p class="lead">Planning for NLP</p>
          <p>How are organizations around the world using artificial intelligence and NLP? What are the adoption rates
            and future plans for these technologies? What are the budgets and deployment plans? And what business
            problems are being solved with NLP algorithms? Find out in this report from TDWI. <a
              href="https://www.sas.com/content/dam/SAS/en_us/doc/whitepaper2/tdwi-advanced-analytics-ai-ml-nlp-109090.pdf"
              target="_blank">Read more here</a></p>
          <br>


          <p class="lead">The untapped potential in unstructured text</p>
          <p>People’s thoughts, research, opinions, facts and feedback transfer into the digital world through social
            media feeds, legal case files, electronic health records, contact center logs, warranty claims and more.
            Natural language processing uncovers the insights hidden in the word streams. <a
            href="https://insidebigdata.com/2018/10/22/untapped-potential-unstructured-text/"
            target="_blank">Read more here</a> </p>

          <br>

          <p class="lead">What can text analytics do for your organization?</p>
          <p>Text analytics is a type of natural language processing that turns text into data for analysis. Learn how
            organizations in banking, health care and life sciences, manufacturing and government are using text
            analytics to drive better customer experiences, reduce fraud and improve society. <a
            href="https://www.datanami.com/2015/05/15/beyond-social-how-text-analytics-can-improve-business/"
            target="_blank">Read more here</a> </p>
        </div>
      </div>
    </div>
  </section>

  <section id="work" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>How does NLP work?</h2>
          <h5>Breaking down the elemental pieces of language</h5>
          <br>
          <p>Natural language processing includes many different techniques for interpreting human language, ranging
            from statistical and machine learning methods to rules-based and algorithmic approaches. We need a broad
            array of approaches because the text- and voice-based data varies widely, as do the practical applications.

            Basic NLP tasks include tokenization and parsing, lemmatization/stemming, part-of-speech tagging, language
            detection and identification of semantic relationships. If you ever diagramed sentences in grade school,
            you’ve done these tasks manually before.

            In general terms, NLP tasks break down language into shorter, elemental pieces, try to understand
            relationships between the pieces and explore how the pieces work together to create meaning.

            These underlying tasks are often used in higher-level NLP capabilities, such as:</p>
          <ul>
            <li><strong>Content categorization</strong>. A linguistic-based document summary, including search and
              indexing, content alerts and duplication detection.</li>
            <li><strong>Topic discovery and modeling</strong>. Accurately capture the meaning and themes in text
              collections, and apply advanced analytics to text, like optimization and forecasting.</li>
            <li><strong>Contextual extraction</strong>. Automatically pull structured information from text-based
              sources.</li>
            <li><strong>Sentiment analysis</strong>. Identifying the mood or subjective opinions within large amounts of
              text, including average sentiment and opinion mining. </li>
            <li><strong>Speech-to-text and text-to-speech conversion</strong>. Transforming voice commands into written
              text, and vice versa.</li>
            <li><strong>Document summarization</strong>. Automatically generating synopses of large bodies of text.</li>
          </ul>
          <br>
          <p>In all these cases, the overarching goal is to take raw language input and use linguistics and algorithms
            to transform or enrich the text in such a way that it delivers greater value. </p>



        </div>
      </div>
    </div>
  </section>


  <section id="method" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>NLP methods and applications</h2>
          <h5>How computers make sense of textual data</h5>
          <br>

          <p class="lead">1. NLP and text analytics</p>

          <p>Natural language processing goes hand in hand with text analytics, which counts, groups and categorizes
            words to extract structure and meaning from large volumes of content. Text analytics is used to explore
            textual content and derive new variables from raw text that may be visualized, filtered, or used as
            inputs to predictive models or other statistical methods.</p>

          <p> NLP and text analytics are used together for many applications, including:</p>
          <ul>
            <li>Investigative discovery. Identify patterns and clues in emails or written reports to help detect and
              solve crimes.</li>
            <li>Subject-matter expertise. Classify content into meaningful topics so you can take action and discover
              trends</li>
            <li>Social media analytics. Track awareness and sentiment about specific topics and identify key
              influencers.</li>
          </ul>
          <br>

          <p class="lead">2. Everyday NLP examples</p>

          <p>There are many common and practical applications of NLP in our everyday lives. Beyond conversing with
            virtual assistants like Alexa or Siri, here are a few more examples: </p>


          <ul>
            <li>Have you ever looked at the emails in your spam folder and noticed similarities in the subject lines?
              You’re seeing Bayesian spam filtering, a statistical NLP technique that compares the words in spam to
              valid emails to identify junk mail.</li>
            <li>Have you ever missed a phone call and read the automatic transcript of the voicemail in your email inbox
              or smartphone app? That’s speech-to-text conversion, an NLP capability.</li>
            <li>Have you ever navigated a website by using its built-in search bar, or by selecting suggested topic,
              entity or category tags? Then you’ve used NLP methods for search, topic modeling, entity extraction and
              content categorization.</li>
          </ul>

          <br>

          <p>A subfield of NLP called natural language understanding (NLU) has begun to rise in popularity because of
            its potential in cognitive and AI applications. NLU goes beyond the structural understanding of language to
            interpret intent, resolve context and word ambiguity, and even generate well-formed human language on its
            own. NLU algorithms must tackle the extremely complex problem of semantic interpretation – that is,
            understanding the intended meaning of spoken or written language, with all the subtleties, context and
            inferences that we humans are able to comprehend.</p>

          <p>The evolution of NLP toward NLU has a lot of important implications for businesses and consumers alike.
            Imagine the power of an algorithm that can understand the meaning and nuance of human language in many
            contexts, from medicine to law to the classroom. As the volumes of unstructured information continue to grow
            exponentially, we will benefit from computers’ tireless ability to help us make sense of it all. </p>


        </div>
      </div>
    </div>
  </section>








  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; <a href="https://github.com/vikasbhadoria69"
          target="_blank"> Vikas Bhadoria(vikasbhadoria69@gmail.com) </a> 2020</p>

    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>